.content img { border: 5px solid rgba(0, 0, 0, 0.2); max-width: 100%; }
.content blockquote { margin: 0; }
.content-title { margin-top: 20px !important; }

.content pre { border-left: 5px solid #2185d0; }
.dark-mode .content pre { border-left: 5px solid #355379; }

.content ol { list-style: decimal outside; padding-left: 2em; }
.content ul { list-style: outside; padding-left: 2em; }

a.header-anchor, a.header-anchor:visited { color: var(--lm-base-text-color) !important; text-decoration: none; }
.dark-mode a.header-anchor, .dark-mode a.header-anchor:visited { color: var(--dm-base-text-color) !important; text-decoration: none; }
a.header-anchor:hover { text-decoration: underline; }

/* Apply code style to generic code */
pre:not([class*="language-"]) { 
	background: #2E3440;
	color: #f8f8f2; 
    padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

/* Override sidebar link style */
.codeberg-design .sidebar-title a { color: var(--sidebar-title-text-color); }
.codeberg-design .sidebar-title .dark-mode a { color: var(--dm-sidebar-title-text-color); }

/* Apply halfmoon style to inline code */
code:not(pre > code)  {
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    padding: var(--code-padding);
    margin: var(--code-margin);
    color: var(--lm-code-text-color);
    background-color: var(--lm-code-bg-color);
    border: var(--code-border-width)  var(--lm-code-border-color);
    border-radius:  var(--code-border-radius);
}
.dark-mode code:not(pre > code) {
    color: var(--dm-code-text-color);
    background-color: var(--dm-code-bg-color);
    border-color: var(--dm-code-border-color);
}

